.games-list {
  .game {
    text-align: center;

    .cover {
      margin-bottom: 0.5rem;
    }

    .name {
      height: 3rem;
      font-weight: 700;
    }
  }
}

#game {
  .details {
    margin-left: 0;
    list-style-type: none;

    strong::after {
      margin-right: 3px;
      content: ': '
    }
  }
}
